@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #2b0033); /* purple to black */
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #1a001f); /* purple to black */
    --foreground: #e5e5f0;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


